@import '../../variables.scss';

.cardHouse {
  min-height: 700px;
  min-width: 30%;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;

  position: relative;

  .cardHouseIntro {
    color: $primary-color;
    font-size: 17px;

    span {
      font-size: 37px;
    }

    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 1;
  }
  .cardHouseIntro2 {
    color: $primary-color;
    font-size: 17px;

    span {
      font-size: 87px;
      color: $primary-color;
    }

    position: absolute;
    right: 30px;
    top: 190px;
    z-index: 1;
  }
  .cardHouseIntro3 {
    color: $primary-color;
    font-size: 17px;

    span {
      font-size: 21px;
      border-bottom: $primary-color 1px dashed;
    }

    position: absolute;
    left: 30px;
    top: 650px;
    z-index: 1;
  }

  .cardImg {
    width: 100%;

    position: absolute;
    top: 0;
    z-index: 0;
  }

  .cardHouseTitle {
    height: 45px;
    width: 70%;
    background-color: $primary-color;
    color: #fff;
    border-radius: 0px 30px;
    font-family: "Inter", sans-serif;
    font-size: $card-namesize;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}

.cardHouse:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  .cardHouse {
    min-height: 500px;
    min-width: 29%;
    .cardHouseIntro {
      font-size: 15px;

      span {
        font-size: 21px;
      }

      left: 20px;
      top: 50px;
    }
    .cardHouseIntro2 {
      font-size: 15px;

      span {
        font-size: 51px;
      }

      right: 30px;
      top: 190px;
    }
    .cardHouseIntro3 {
      font-size: 13px;

      span {
        font-size: 15px;
      }

      left: 20px;
      top: 400px;
    }
    .cardHouseTitle {
      height: 35px;
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 768px) {
  .cardHouse {
    min-height: 890px;
    .cardHouseIntro {
      font-size: 21px;

      span {
        font-size: 37px;
      }

      left: 30px;
      top: 50px;
    }
    .cardHouseIntro2 {
      font-size: 21px;

      span {
        font-size: 120px;
      }

      right: 30px;
      top: 190px;
    }
    .cardHouseIntro3 {
      font-size: 21px;

      span {
        font-size: 27px;
      }

      left: 30px;
      top: 650px;
    }
  }
}

@media screen and (max-width: 576px) {
  .cardHouse {
    min-height: 590px;
    .cardHouseIntro {
      font-size: 17px;

      span {
        font-size: 27px;
      }

      left: 30px;
      top: 50px;
    }
    .cardHouseIntro2 {
      font-size: 15px;

      span {
        font-size: 87px;
      }

      right: 30px;
      top: 190px;
    }
    .cardHouseIntro3 {
      font-size: 15px;

      span {
        font-size: 17px;
      }

      left: 30px;
      top: 450px;
    }
  }
}

