@import '../../../variables.scss';

.cardHouse {
  min-height: 700px;
  min-width: 30%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;

  position: relative;

  .cardImg {
    height: 100%;
    // width: 100%;

    position: absolute;
    top: 0;
    z-index: 0;
  }

  .cardHouseTitle {
    height: 35px;
    width: 100%;
    background-color: $primary-color;
    border-radius: 0px 0px 15px 15px;

    position: absolute;
    bottom: 0;
    z-index: 1;

    .cardHouseTitleMask {
      height: 30px;
      width: 100%;
      background-color: #fff;
      border-radius: 0px 0px 30px 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: $primary-color;
        font-family: 'Inter', sans-serif;
        font-size: $card-namesize;
        text-transform: uppercase;
        letter-spacing: 0.03em;
      }
    }
  }
}

.cardHouse:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1400px) {
  .cardHouse {
    min-width: 28%;
  }
}
@media screen and (max-width: 1200px) {
  .cardHouse {
    min-height: 500px;
  }
}
@media screen and (max-width: 992px) {
  .cardHouse {
    min-height: 500px;
    min-width: 27%;
    .cardHouseTitle {
      height: 25px;
      width: 100%;
      .cardHouseTitleMask {
        height: 22px;
        width: 100%;
        p {
          font-size: 11px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .cardHouse {
    min-height: 890px;
    .cardImg {
      width: 100%;
    }
  }
}
@media screen and (max-width: 576px) {
  .cardHouse {
    min-height: 590px;
    .cardImg {
      width: 100%;
    }
  }
}
