@import '../../variables.scss';

.container {
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 170px 10px 100px 10px;

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  .title {
    font-size: 31px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    padding-left: 20px;
  }
  .text {
    font-size: 15px;
    margin-top: 15px;
    padding-left: 20px;
    line-height: 1.5;
  }

  .subTitle {
    font-size: 13px;
    padding-left: 10px;
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .boxImg {
    height: auto;
    max-width: 100%;

    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

    .textLine {
      writing-mode: vertical-rl;
      text-align: end;
      font-size: 15px;
    }
    .containerImg {
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .boxPlan {
    .title2 {
      margin-top: 50px;
      margin-bottom: 20px;
      font-size: 28px;
      font-family: 'Caveat', cursive;
      font-weight: 400;
      padding-left: 20px;
    }
    .text2 {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 20px;
      line-height: 2;
    }

    .boxPlanPoster {
      padding-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;

      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .planInfo {
        padding: 10px;
        background-color: $primary-color;
        border-radius: 10px;
        color: white;

        p {
          font-size: 13px;
        }
      }
    }
  }
}
